<% content_for :title, "Portal de participación de En Marea" %>
<%= content_tag(:h2, "Portal de participación de En Marea") %>
<section class="tools">
  <ul>
      <% Page.all.each do |page| %>
          <li class="box-tool">
              <div class="box-tool">
                  <h3><%= page.title %></h3>
                  <div class="tool-text">
                      <p><%= page.meta_description %></p>
                  </div><!--.tool-text-->

                  <div class="buttonbox">
                      <%= link_to "Ir a formulario", form_page_path(page.slug), class: "button", target: "_blank" %>
                  </div>
              </div><!--.box-tool-->
          </li>
      <% end %>
  </ul>
</section><!--.tools-->
