<% content_for :title, t('podemos.lopd.cookies_policy.title') %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">

      <%= info_box do %>
        <%= t('podemos.lopd.cookies_policy.text_html')%>
      <% end %>
    </div>
  </div>
</div>
