.cookie {
  width: 100%;
  background: #f0f0f0;
  font-size: 1.4em;
  padding: 10px 0;
  color: #444;
  font-weight: 200;
  text-align: center;
  a {
    color: #269283;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  a.close {
    padding: 0.1em 2.5em;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
  }
}
